
#divFormik {
  width: 500px;
  margin: 0 auto;
}

#divSearch {
  width: 700px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  #divFormik {
    padding: 30px;
  }
}

@media (min-width: 576px) and (max-width: 820px) {
  #divFormik {
    padding: 30px;
  }
}

@media (min-width: 820) {
  #divFormik {
    padding: 30px;
  }
}

input,
select {
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
  padding: 7px;
  border: 0.51px solid;
  border-color: rgb(215, 207, 207);
  border-radius: 5px;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

button {
  margin-bottom: 10px;
  padding: 10px;
}

span,
.error-message {
  color: red;
}

.has-error {
  border: 1px solid red;
}